<mat-dialog-content>
  <h2 mat-dialog-title>Passwort ändern</h2>
  <p>
    Hier kannst du ein neues Passwort festlegen. Gib dazu einfach dein neues
    Passwort ein und bestätige.
  </p>

  <div [formGroup]="form">
    <mat-form-field appearance="fill">
      <mat-label>Neues Passwort</mat-label>
      <input
        matInput
        cdkFocusInitial
        type="password"
        formControlName="password"
      />
      <mat-icon matSuffix>password</mat-icon>
    </mat-form-field>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onClose()">Abbrechen</button>
  <button
    mat-button
    (click)="onConfirm()"
    [disabled]="form.value.password == ''"
  >
    Speichern
  </button>
</mat-dialog-actions>
