mat-form-field {
  width: 100%;
}

.sensor-card {
  background-color: #f8e9cc;
  padding: 1rem;
  border-radius: 12px;
}

.sensor-id {
  font-size: 0.75rem;
  font-weight: 200;
  color: #634838;
}

.detail-heading {
  font-size: 1rem;
  font-weight: 200;
}
.detail-text {
  font-size: 1.25rem;
  font-weight: 500;
}

.sensordata-card:hover {
  cursor: pointer;
}

.sensordata-value {
  font-size: 1.35rem;
  font-weight: 500;
}

.sensordata-unit {
  display: inline-block;
  vertical-align: top;
  font-weight: 300;
  font-size: 1rem;
  margin-top: 0.175rem;
}
