@if (sensor()) {
<div class="d-flex justify-content-between align-items-center">
  <h1 class="m-0 p-0">Details zum Sensor</h1>
  @if (editingDetails()) {
  <div class="m-0 p-0 d-flex justify-content-end">
    <button mat-icon-button (click)="editingDetails.set(false)">
      <mat-icon class="mb-2">cancel</mat-icon>
    </button>
    <button mat-icon-button (click)="onSaveDetails()">
      <mat-icon class="mb-2">save</mat-icon>
    </button>
  </div>
  } @else {
  <div class="m-0 p-0 d-flex justify-content-end">
    <button mat-icon-button (click)="onDeleteSensor()">
      <mat-icon class="mb-2">delete</mat-icon>
    </button>
    <button mat-icon-button (click)="editingDetails.set(true)">
      <mat-icon class="mb-2">edit</mat-icon>
    </button>
  </div>
  }
</div>
<p class="sensor-id mb-3">StationId: {{ sensor()?.id }}</p>

<form class="sensor-card mb-3" [formGroup]="form">
  @if (editingDetails()) {
  <mat-form-field appearance="fill">
    <mat-label>Name</mat-label>
    <input
      matInput
      placeholder="Gemüsebeet, Fensterbank, ..."
      formControlName="name"
    />
    <mat-icon matSuffix>yard</mat-icon>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Beschreibung</mat-label>
    <textarea
      matInput
      placeholder="Gemüsebeet, Fensterbank, ..."
      formControlName="description"
    ></textarea>
    <mat-icon matSuffix>description</mat-icon>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Sensorart</mat-label>
    <mat-select formControlName="type">
      @for (sensorType of sensorTypes(); track $index) {
      <mat-option [value]="sensorType.type">
        {{ sensortypeService.getGermanName(sensorType.type) }}
        ({{ sensorType.unitShort }})
      </mat-option>
      }
    </mat-select>
    <mat-icon matSuffix>hive</mat-icon>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Station (optional)</mat-label>
    <mat-select formControlName="stationId">
      @if (form.controls.stationId.value) {
      <mat-option [value]="null">-- keine Staion --</mat-option>
      } @for (station of stations(); track station.id) {
      <mat-option [value]="station.id">{{ station.name }}</mat-option>
      }
    </mat-select>
    <mat-icon matSuffix>home_and_garden</mat-icon>
  </mat-form-field>

  } @else {
  <div class="">
    <p class="detail-heading m-0 p-0">Name:</p>
    <p class="detail-text m-0 p-0 mb-3">{{ sensor()?.name }}</p>
  </div>

  <div class="">
    <p class="detail-heading m-0 p-0">Beschreibung:</p>
    <p class="detail-text m-0 p-0 mb-3">{{ sensor()?.description }}</p>
  </div>

  <div class="">
    <p class="detail-heading m-0 p-0">Sensorart:</p>
    <p class="detail-text m-0 p-0 mb-3">
      {{ sensor() ? sensortypeService.getGermanName(sensor()!.type) : "" }}
    </p>
  </div>

  <div class="">
    <p class="detail-heading m-0 p-0">Station:</p>
    <p class="detail-text m-0 p-0 mb-1">
      {{ sensor() ? getStationName(sensor()!.stationId) : "" }}
    </p>
  </div>
  }
</form>
} @if (sensor()) {

<div class="d-flex justify-content-between align-items-center mt-3 mb-2">
  <div class="d-flex align-items-center m-0 p-0">
    <h2 class="m-0 p-0 me-2">Messwerte</h2>
    <button mat-icon-button (click)="onRefresh()">
      <mat-icon class="mb-2">refresh</mat-icon>
    </button>
  </div>
  <button mat-icon-button (click)="onAddSensorData()">
    <mat-icon class="mb-2">add</mat-icon>
  </button>
</div>
@if (sensorData().length > 0) { @for (data of sensorData(); track data.id) {
<app-color-background
  [value]="data.value"
  [minValue]="minReading()"
  [maxValue]="maxReading()"
  (click)="onEditSensorData(data)"
  class="sensordata-card"
>
  <div class="d-flex justify-content-between align-items-center ps-2 pe-3 py-2">
    <div
      class="d-flex align-items-center pe-1"
      style="border-right: 1px solid #43483f"
    >
      <button
        mat-icon-button
        (click)="onDeleteSensorData(data); $event.stopPropagation()"
      >
        <mat-icon class="mb-2">delete</mat-icon>
      </button>
    </div>
    <div
      class="d-flex justify-content-between align-items-center"
      style="width: 100%"
    >
      <div class="ms-3">
        {{ data.timestamp | date : "dd.MM.YYYY - HH:mm" }}
      </div>
      <div class="sensordata-value">
        {{ data.value
        }}<span class="sensordata-unit"
          >{{ sensortypeService.getShortUnit(sensor()!.type) }}
        </span>
      </div>
    </div>
  </div>
</app-color-background>
} } @else {
<p>
  Für diesen Sensor wurden noch keine Messwerte erfasst. Du kannst jetzt mit
  einem Klick auf das + den ersten Datensatz anlegen.
</p>
} }
