html,
body {
  height: 100%;
  background-color: #a89f93;
  color: #261813;
}
body {
  margin: 0;
  font-family: "Inter Tight", sans-serif;
}

mat-icon {
  color: inherit !important;
}

mat-form-field {
  width: 100%;
}
